:root {
    --font-family1: 'Bonheur Royale', cursive;
  }
  
  header {
    background: url(https://images.unsplash.com/photo-1528334713982-2d1fe11a157a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  header > a {
    text-decoration: none;
    background-color: white;
    font-size: 1.5em;
    padding: 1.5rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-family: var(--font-family1) ;
  }
  
  .boxflex > div {
    border:1px solid orange;
    color:red;
  }
  .boxflex{
    display:flex;
    flex-direction: row;
    flex:200px;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content:space-evenly;
    border:1px solid green;
    height:100px;
    margin:50px auto;
    padding:15px 10px;
  }

  nav > ul > li {background-color:#6b6b6b;color:#00ccff}
  nav > ul > li:hover {background-color:#ccc;}

  body{background:#1f1f1f;}

  footer > a{text-decoration:none;font-weight:bold;}
  footer > a:hover{color:#fff;text-decoration:underline;}
  footer > a:visited{color:#ccc}

  /**** For Smaller screens ******/
  
  @media (max-width: 549px){
      
    .hidden--mobile {
      display: none !important;
    }  
  
    header {
      height: 90vh;
    }
  
    nav {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    nav > i {
      padding: 1rem;
      font-size: 2em;
    }
  
    nav > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0;
    }
  
    nav > ul > li {
      padding: .5rem;
      list-style-type: none;
    }
  }
  

  
  /***** For Bigger screens *****/
  
  @media (min-width: 550px){
      
    header {
      height: 60vh;
    }
  
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    } 
  
    nav > ul > li {
      display: inline-block;
      text-decoration: none;
      border: 1px solid;
      padding: .5rem .5rem;
      border-radius: 25px;
    }
  
    nav > .fa-bars {
      display: none;
    }
  }