/* this adds a border around the flex items */
.flex > * {
    border: 1px solid;
  }
  
  .flex {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
  }
  
  @media print { /*removes border while printing*/
    .flex > * {
      border: none;
    }
  }
  
  @media (hover: hover) { /*changes div color to green on hover*/
    div:hover {
      color:green;
    }
  }
  
  @media (max-width: 700px) {
    * {
      color: purple;
    }
  }